# enable color support of ls and also add handy aliases
if [ -x /usr/bin/dircolors ]; then
    test -r $XDG_CONFIG_HOME/.dircolors && eval "$(dircolors -b $XDG_CONFIG_HOME/.dircolors)" || eval "$(dircolors -b)"
    alias ls='ls --color=auto'
    alias dir='dir --color=auto'
    alias vdir='vdir --color=auto'

    alias grep='grep --color=auto'
    alias fgrep='fgrep --color=auto'
    alias egrep='egrep --color=auto'
fi
if command -v eza >/dev/null 2>&1; then
    alias ls='eza -g -F auto'
fi
alias sudo='sudo '
alias man='man '
alias wget='wget --hsts-file $XDG_CONFIG_HOME/.wget-hsts'
alias v='nvim'
alias l='ls -l'
alias ll='ls -lF'
alias lls='ls -lahtrF'
alias lla='ls -laF'
alias la='ls -A'
alias cls='clear'
alias zshconfig='v $ZDOTDIR/.zshrc'
alias shutdown='sudo shutdown now'
alias restart='sudo reboot'
alias d='dirs -v'
alias gs='git status'
alias ga='git add'
alias gp='git push'
alias gpo='git push origin'
alias gtd='git tag --delete'
alias gtdr='git tag --delete origin'
alias gr='git branch -r'
alias gpl='git pull'
alias gplo='git pull origin'
alias gb='git branch '
alias gc='git commit'
alias gd='git diff'
alias gco='git checkout '
alias gl='git log'
alias gr='git remote'
alias grs='git remote show'
alias grv='git remote -v'
alias glo='git log --pretty="oneline"'
alias glog='git log --graph --oneline --decorate'
alias gmv='git mv'
alias tc='tmux attach -t'
alias tkill='pkill -f tmux'
alias tl='tmux ls'
alias tn='tmux new -s'
alias treload='tmux source-file $XDG_CONFIG_HOME/dotfiles/tmux/tmux.conf'
function mkcd() {
    mkdir -p "$1" && cd "$1" || return $?
}
alias mvg='/usr/local/bin/advmv -g'
alias cpg='/usr/local/bin/advcp -g'
alias lg="lazygit"
